/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
  color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
     text-align: ;
}
/* Área principal */
main  {
  width: 100%;
  max-width: 400px;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Container */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Título */
h1 {
  font-size: 1.8rem;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1rem;
}

/* Labels */
label {
  font-weight: 600;
  color: #34495e;
}

/* Inputs */
input[type="number"] {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus {
  border-color: #3498db;
  outline: none;
}

/* Botão */
button {
  padding: 0.8rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}


footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100vw;
    padding: 10px;
    text-align: center;
}